/* Google font Work Sans Inport here  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* Common CSS Styles  */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 85vw;
    margin: 0 auto;
}

.bg-primary {
    background: rgba(255, 144, 14, 0.10);
}

.description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 30px auto;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    transition: all .35s ease-in;
}

.btn-primary:hover {
    background: #b36205;
    color: #FFF;
}

/* Header Styels Start here  */
header {
    width: auto;
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

nav>ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    list-style: none;
    margin-left: 20px;
}

nav>ul>li:first-child {
    margin-left: 0px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .35s ease-in;
}

nav>ul>li a:hover {
    color: #fff;
    background-color: #424242;
}

/* Banner Styles Start Here  */
.banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-content {
    width: 60vw;
    margin: 10px auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.banner-img {
    padding: 30px 0px;
}

.banner-img img {
    width: 100%;
}

/* Feature Section Styles  */
.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto;
    gap: 50px;

}

.feature-img,
.feature-content {
    flex: 1;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-img img {
    width: 100%;
    box-shadow: 1px 1px 10px #858080;
    border-radius: 5px;
}

.feature-content {
    padding: 0px 30px;
}

.feature-title {
    font-size: 45px;
    margin-top: 0;
}

.feature-title>.quick {
    color: #727272;
    font-weight: 500;
}

.feature-title>.our {
    color: #131313;
    font-weight: 700;
}

.feature-title>.feature {
    color: #FF900E;
    font-weight: 700;
}