/* Mobile/Small Device Styles   */
@media screen and (max-width:576px) {
    .container {
        width: 100vw;
    }

    nav {
        flex-direction: column;
    }

    .banner-content {
        width: 100vw;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-img {
        padding: 0px;
    }

    .feature-section {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .feature-img img {
        width: 100%;
        box-shadow: none;
    }

    /* .feature-title {
        text-align: center;
    } */

    .feature-content {
        padding: 0px 15px;
        text-align: center;
    }

}