/* Mobile/Small Device Styles   */
@media screen and (max-width:576px) {
    .container {
        width: 100vw;
    }

    /* Nav styles */
    nav {
        flex-direction: column;
    }

    /* Banner Styles  */
    .banner {
        flex-direction: column-reverse;
        padding-bottom: 20px;
    }

    .banner-content {
        width: 100vw;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-img {
        padding: 0px;
        margin-top: 20px;
    }

    /* Feature Section Styles  */
    .feature-section {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: 1fr;
    }

    .feature-img img {
        width: 100%;
        box-shadow: none;
    }

    .feature-content {
        padding: 0px 15px;
        text-align: center;
    }

    /* Feature Service Section Styles  */
    .feature-service-section {
        flex-direction: column-reverse;
    }

    .feature-service-section {
        gap: 0;
    }

    .experience {
        bottom: 0;
        left: 0;
    }

    .feature-service-title {
        font-size: 40px;
    }

   .feature-service> .description {
        padding: 0px 10px;
    }
/* Some Facts section Styles  */
.facts-header {
    width: auto;
    margin: 0 15px;
}
.facts-container {
    gap: 20px;
    padding: 0px 20px;
    margin-top: 50px;
    flex-direction: column;
}
.our-sponosor-header {
    margin-bottom: 40px;
}
.sponsor-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}








}